In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as mt

In [2]:
kmpgex = pd.ExcelFile('KPMG_VI_New_raw_data_update_final.xlsx')
kmpgex.sheet_names
NCL = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx', sheetname="NewCustomerList")
CD = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx', sheetname="CustomerDemographic")
CA = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx', sheetname="CustomerAddress")
dfT = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx', sheetname="Transactions")

C:\Users\All\Anaconda3\lib\site-packages\pandas\util\_decorators.py:118: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

In [68]:
NCL.rename(columns={"Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only. ":"fname"}, inplace = True)
NCL.rename(columns={"Unnamed: 1":"lname",
                   "Unnamed: 2":"gender",
                   "Unnamed: 3":"3y_bike_purchases",
                   "Unnamed: 4":"DOB",
                   "Unnamed: 5":"JT",
                   "Unnamed: 6":"Category"}, inplace = True)
NCL.rename(columns={"Unnamed: 7":"wealth_segement",
                   "Unnamed: 8":"D_Indicator",
                   "Unnamed: 9":"owns_car",
                   "Unnamed: 10":"tencure",
                   "Unnamed: 11":"address",
                   "Unnamed: 12":"postcode"}, inplace = True)
NCL.rename(columns={"Unnamed: 13":"state",
                   "Unnamed: 14":"country",
                   "Unnamed: 15":"prop_val",
                   "Unnamed: 21":"rank",
                   "Unnamed: 22":"value"}, inplace = True)
NCL=NCL.iloc[1:]

In [3]:
CD.rename(columns={"Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only. ":"customer_id"}, inplace = True)
CD.rename(columns={"Unnamed: 1":"fname",
                   "Unnamed: 2":"lname",
                   "Unnamed: 3":"gender",
                   "Unnamed: 4":"3y_bike_purchases",
                   "Unnamed: 5":"DOB",
                   "Unnamed: 6":"JT"}, inplace = True)
CD.rename(columns={"Unnamed: 7":"Category",
                   "Unnamed: 8":"wealth_segement",
                   "Unnamed: 9":"D_Indicator",
                   "Unnamed: 10":"default",
                   "Unnamed: 11":"owns_car",
                   "Unnamed: 12":"tencure"}, inplace = True)
CD=CD.iloc[1:]

In [59]:
CA.rename(columns={"Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only. ":"customer_id"}, inplace = True)
CA.rename(columns={"Unnamed: 0":"cid",
    "Unnamed: 1":"address",
                   "Unnamed: 2":"postcode",
                   "Unnamed: 3":"state",
                   "Unnamed: 4":"country",
                   "Unnamed: 5":"property_valuation"}, inplace = True)

CA=CA.iloc[1:]

In [30]:
dfT.rename(columns={"Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only. ":"customer_id"}, inplace = True)
dfT.rename(columns={"customer_id":"transaction_id",
                   "Unnamed: 1":"product_id",
                   "Unnamed: 2":"customer_id",
                   "Unnamed: 3":"transaction_datar",
                   "Unnamed: 4":"online_order",
                   "Unnamed: 5":"order_status",
                   "Unnamed: 6":"brand"}, inplace = True)
dfT.rename(columns={"Unnamed: 7":"product_line",
                   "Unnamed: 8":"product_class",
                   "Unnamed: 9":"product_size",
                   "Unnamed: 10":"list_price",
                   "Unnamed: 11":"standard_cost",
                   "Unnamed: 12":"product_first_sold_date"}, inplace = True)
dfT=dfT.iloc[1:]

# Customer Demographics

In [4]:
CD=pd.DataFrame(CD)

In [5]:
CD['customer_id'].nunique()

4000

In [6]:
CD.isnull().sum()

customer_id            0
fname                  0
lname                125
gender                 0
3y_bike_purchases      0
DOB                   87
JT                   506
Category             656
wealth_segement        0
D_Indicator            0
default              302
owns_car               0
tencure               87
dtype: int64

In [24]:
CD['lname']=CD['lname'].fillna(method='ffill')
CD['DOB']=CD['DOB'].fillna(method='ffill')

In [7]:
CD['gender'].value_counts()
##error in values, like femal, F, M, U
##categorical fields should have consistent values

Female    2037
Male      1872
U           88
Femal        1
F            1
M            1
Name: gender, dtype: int64

In [8]:
CD['JT'].value_counts()

Business Systems Development Analyst    45
Tax Accountant                          44
Social Worker                           44
Internal Auditor                        42
Legal Assistant                         41
Recruiting Manager                      41
General Manager                         40
Structural Engineer                     39
Associate Professor                     39
Desktop Support Technician              38
Junior Executive                        38
Sales Representative                    38
Technical Writer                        37
Chemical Engineer                       37
Senior Financial Analyst                37
Dental Hygienist                        37
Executive Secretary                     37
Cost Accountant                         36
Product Engineer                        36
Assistant Professor                     36
Senior Developer                        36
Registered Nurse                        36
Food Chemist                            35
VP Product Management                   34
Administrative Officer                  34
Account Executive                       33
Electrical Engineer                     33
Assistant Media Planner                 33
VP Quality Control                      33
Speech Pathologist                      33
                                        ..
Web Developer IV                         6
Programmer IV                            6
Budget/Accounting Analyst III            6
Statistician III                         6
Programmer I                             6
Web Developer II                         6
Programmer Analyst I                     6
Software Engineer I                      6
Web Designer III                         6
Web Developer I                          6
Research Assistant IV                    5
Staff Accountant IV                      5
Biostatistician III                      5
Research Assistant I                     5
Automation Specialist III                5
Developer IV                             5
Computer Systems Analyst III             4
Database Administrator II                4
Geologist II                             4
Database Administrator I                 4
Programmer Analyst IV                    4
Staff Accountant I                       4
Human Resources Assistant IV             4
Account Representative II                4
Administrative Assistant II              4
Systems Administrator IV                 4
Health Coach I                           3
Research Assistant III                   3
Health Coach III                         3
Developer I                              1
Name: JT, Length: 195, dtype: int64

In [9]:
CD['D_Indicator'].value_counts()

N    3998
Y       2
Name: D_Indicator, dtype: int64

In [10]:
CD['owns_car'].value_counts()
## to check wronlgy typed inputs for categorical variables

Yes    2024
No     1976
Name: owns_car, dtype: int64

In [12]:
CD['wealth_segement'].value_counts()

Mass Customer        2000
High Net Worth       1021
Affluent Customer     979
Name: wealth_segement, dtype: int64

In [15]:
##check data type consistency in all columns

CD.dtypes

customer_id          object
fname                object
lname                object
gender               object
3y_bike_purchases    object
DOB                  object
JT                   object
Category             object
wealth_segement      object
D_Indicator          object
default              object
owns_car             object
tencure              object
dtype: object

In [25]:
CD['JT']=CD['JT'].fillna(method='ffill', inplace =True)

In [26]:
CD['Category']=CD['Category'].fillna(method='ffill')

In [27]:
del CD['default']

In [72]:
CD['tencure'].hist()
# By plotting histogram, we can check for outliers, which may indicate data entry errors

In [73]:
CD['3y_bike_purchases'].hist()

In [28]:
CD['tencure']=CD['tencure'].fillna(CD['tencure'].mean())

In [29]:
## check this for all columns by replacing the respective datatype with str in statement "  if l[i]!= 'datatype'  "
l=CD['owns_car'].map(type)
l=l.tolist()
for i in range(len(l)):
    if l[i]!=str:
        print("Not consistent")

In [76]:
CD=pd.DataFrame(CD)

In [55]:
CD.to_csv('CustomerDemographics.csv')

# Transactions

In [31]:
df=pd.DataFrame(dfT)

In [49]:
type(df['transaction_id'])

pandas.core.series.Series

In [32]:
df['transaction_id'].nunique()

20000

In [34]:
df['customer_id'].value_counts()

2476    14
1068    14
2183    14
2464    13
3232    13
2072    13
1140    13
1129    13
1302    13
1913    13
3326    13
1672    13
637     13
1946    13
2755    13
3048    13
377     13
2912    13
2548    13
1821    12
2036    12
1482    12
936     12
322     12
2309    12
255     12
1591    12
2240    12
1611    12
832     12
        ..
1757     1
2477     1
2807     1
862      1
2145     1
872      1
3161     1
2423     1
1248     1
2209     1
71       1
898      1
3179     1
2417     1
2525     1
2352     1
2532     1
822      1
1203     1
278      1
1387     1
2749     1
3292     1
2395     1
287      1
2394     1
3428     1
191      1
1846     1
2876     1
Name: customer_id, Length: 3494, dtype: int64

In [35]:
df.isnull().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_datar            0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [37]:
df['product_first_sold_date']=df['product_first_sold_date'].fillna(method='ffill')

In [38]:
df['standard_cost']=df['standard_cost'].fillna(df['standard_cost'].mean())

In [39]:
df['product_size']=df['product_size'].fillna(method='ffill')

In [40]:
df['product_line']=df['product_line'].fillna(method='ffill')

In [41]:
df['product_class']=df['product_class'].fillna(method='bfill')

In [42]:
df['brand']=df['brand'].fillna(method='ffill')

In [43]:
df['online_order']=df['online_order'].fillna(method='ffill')

In [51]:
#check error in category names for all categotical variables
df['online_order'].value_counts()

True     10016
False     9984
Name: online_order, dtype: int64

In [53]:
df['order_status'].value_counts()

Approved     19821
Cancelled      179
Name: order_status, dtype: int64

In [54]:
df['product_line'].value_counts()

Standard    14319
Road         4005
Touring      1248
Mountain      428
Name: product_line, dtype: int64

In [55]:
df['product_class'].value_counts()

medium    13959
high       3038
low        3003
Name: product_class, dtype: int64

In [56]:
df['product_size'].value_counts()

medium    13115
large      4022
small      2863
Name: product_size, dtype: int64

In [45]:
## repeat for all cloumns
l=df['product_size'].map(type)
l=l.tolist()
for i in range(len(l)):
    if l[i]!=str:
        print("Not consistent")

In [46]:
l=df['product_class'].map(type)
l=l.tolist()
for i in range(len(l)):
    if l[i]!=str:
        print("Not consistent")

In [ ]:
df.to_csv('T.csv')

# Customer List

In [60]:
df=pd.DataFrame(CA)

In [61]:
df

,customer_id,address,postcode,state,country,property_valuation
1,1,060 Morning Avenue,2016,New South Wales,Australia,10
2,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
3,4,0 Holy Cross Court,4211,QLD,Australia,9
4,5,17979 Del Mar Point,2448,New South Wales,Australia,4
5,6,9 Oakridge Court,3216,VIC,Australia,9
6,7,4 Delaware Trail,2210,New South Wales,Australia,9
7,8,49 Londonderry Lane,2650,New South Wales,Australia,4
8,9,97736 7th Trail,2023,New South Wales,Australia,12
9,11,93405 Ludington Park,3044,VIC,Australia,8
10,12,44339 Golden Leaf Alley,4557,QLD,Australia,4
11,13,2 Sutherland Street,3799,VIC,Australia,6
12,14,9 Mcbride Trail,2760,New South Wales,Australia,8
13,15,9861 New Castle Avenue,2428,New South Wales,Australia,9
14,16,52 Moland Street,3331,VIC,Australia,4
15,17,82391 Kensington Lane,3058,VIC,Australia,9
16,18,092 2nd Alley,2135,New South Wales,Australia,12
17,19,59 Spaight Circle,2233,New South Wales,Australia,9
18,20,032 Bartelt Crossing,2444,New South Wales,Australia,8
19,21,18 Jenna Center,2650,New South Wales,Australia,7
20,24,3 Cordelia Plaza,2153,New South Wales,Australia,10
21,25,28 5th Center,4413,QLD,Australia,3
22,26,52 Carey Alley,4740,QLD,Australia,5
23,27,96 Texas Plaza,3218,VIC,Australia,7
24,28,48 Eagan Avenue,4868,QLD,Australia,4
25,29,9 Buell Park,4116,QLD,Australia,7
26,30,02663 Buell Parkway,2519,New South Wales,Australia,11
27,31,2294 Pleasure Place,2135,New South Wales,Australia,12
28,32,2951 Petterle Place,2756,New South Wales,Australia,9
29,33,63 Lukken Drive,2170,New South Wales,Australia,9
30,34,833 Luster Way,4005,QLD,Australia,8
...,...,...,...,...,...,...
3970,3974,81609 Vernon Terrace,3934,VIC,Australia,8
3971,3975,37 Hintze Court,2168,NSW,Australia,9
3972,3976,07 Morning Court,3805,VIC,Australia,7
3973,3977,327 Loeprich Street,3187,VIC,Australia,11
3974,3978,5106 Northridge Drive,2560,NSW,Australia,7
3975,3979,9754 High Crossing Terrace,2148,NSW,Australia,8
3976,3980,7 Meadow Vale Court,2114,NSW,Australia,10
3977,3981,80260 Morning Road,3178,VIC,Australia,9
3978,3982,38017 Briar Crest Drive,2165,NSW,Australia,9
3979,3983,60 Morningstar Center,2126,NSW,Australia,10
3980,3984,218 Stuart Junction,2223,NSW,Australia,10
3981,3985,9 Butterfield Lane,4077,QLD,Australia,5
3982,3986,614 Burning Wood Way,2148,NSW,Australia,9
3983,3987,9 Grover Point,4218,QLD,Australia,10
3984,3988,565 Bunting Park,2076,NSW,Australia,11
3985,3989,9461 Saint Paul Trail,2428,NSW,Australia,2
3986,3990,5204 Delaware Pass,2560,NSW,Australia,8
3987,3991,24 Scott Pass,4300,QLD,Australia,5
3988,3992,8 Randy Parkway,2209,NSW,Australia,11
3989,3993,681 Elmside Place,3750,VIC,Australia,6
3990,3994,2918 Summer Ridge Hill,3030,VIC,Australia,2
3991,3995,613 Erie Lane,2088,NSW,Australia,12
3992,3996,0 Transport Center,3977,VIC,Australia,6
3993,3997,4 Dovetail Crossing,2350,NSW,Australia,2
3994,3998,736 Roxbury Junction,2540,NSW,Australia,6
3995,3999,1482 Hauk Trail,3064,VIC,Australia,3
3996,4000,57042 Village Green Point,4511,QLD,Australia,6
3997,4001,87 Crescent Oaks Alley,2756,NSW,Australia,10
3998,4002,8194 Lien Street,4032,QLD,Australia,7
3999,4003,320 Acker Drive,2251,NSW,Australia,7

In [63]:
df['customer_id'].nunique()

3999

In [64]:
df.isnull().sum()

customer_id           0
address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64

In [65]:
df['state'].value_counts()
## are 'VIC' and 'Victoria' same?

NSW                2054
VIC                 939
QLD                 838
New South Wales      86
Victoria             82
Name: state, dtype: int64

In [66]:
df['country'].value_counts()

Australia    3999
Name: country, dtype: int64

In [19]:
df['postcode'].plot()

In [67]:
## check consistency of datatypes for all e.g
l=df['state'].map(type)
l=l.tolist()
for i in range(len(l)):
    if l[i]!=str:
        print("Not consistent")

In [20]:
df.to_csv('CustomerAddress.csv')

# New Customer List

In [69]:
NCL

,fname,lname,gender,3y_bike_purchases,DOB,JT,Category,wealth_segement,D_Indicator,owns_car,...,state,country,prop_val,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,rank,value
1,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,...,QLD,Australia,6,0.56,0.7000,0.875000,0.743750,1.0,1,1.71875
2,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,...,NSW,Australia,11,0.89,0.8900,1.112500,0.945625,1.0,1,1.71875
3,Ardelis,Forrester,Female,10,1974-08-28 00:00:00,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,...,VIC,Australia,5,1.01,1.0100,1.010000,1.010000,1.0,1,1.71875
4,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,...,QLD,Australia,1,0.87,1.0875,1.087500,1.087500,4.0,4,1.70312
5,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,...,NSW,Australia,9,0.52,0.5200,0.650000,0.650000,4.0,4,1.70312
6,Druci,Brandli,Female,39,1951-04-29,Assistant Media Planner,Entertainment,High Net Worth,N,Yes,...,QLD,Australia,7,0.43,0.5375,0.537500,0.537500,6.0,6,1.67188
7,Rutledge,Hallt,Male,23,1976-10-06,Compensation Analyst,Financial Services,Mass Customer,N,No,...,NSW,Australia,7,0.40,0.4000,0.400000,0.340000,6.0,6,1.67188
8,Nancie,Vian,Female,74,1972-12-27,Human Resources Assistant II,Retail,Mass Customer,N,Yes,...,QLD,Australia,5,0.58,0.7250,0.725000,0.616250,8.0,8,1.65625
9,Duff,Karlowicz,Male,50,1972-04-28,Speech Pathologist,Manufacturing,Mass Customer,N,Yes,...,NSW,Australia,10,1.03,1.2875,1.609375,1.367969,8.0,8,1.65625
10,Barthel,Docket,Male,72,1985-08-02,Accounting Assistant IV,IT,Mass Customer,N,Yes,...,QLD,Australia,5,0.84,1.0500,1.050000,0.892500,10.0,10,1.64062
11,Rockwell,Matson,Male,94,1995-01-01,Programmer Analyst I,Retail,High Net Worth,N,No,...,QLD,Australia,6,0.58,0.5800,0.725000,0.725000,10.0,10,1.64062
12,Wheeler,Winward,Male,48,1999-08-30,Environmental Specialist,Manufacturing,Mass Customer,N,No,...,VIC,Australia,8,0.55,0.5500,0.550000,0.467500,12.0,12,1.625
13,Olag,NaN,Male,60,1990-05-13,Human Resources Manager,Telecommunications,Mass Customer,N,No,...,NSW,Australia,11,0.43,0.4300,0.537500,0.456875,13.0,13,1.60938
14,Melba,Spellacy,Female,38,1976-12-09,VP Marketing,Health,Mass Customer,N,No,...,NSW,Australia,10,0.84,0.8400,1.050000,0.892500,14.0,14,1.59375
15,Mandie,Feares,Female,32,1964-04-19,Clinical Specialist,Health,Mass Customer,N,No,...,QLD,Australia,8,0.80,0.8000,0.800000,0.680000,14.0,14,1.59375
16,Dukie,Swire,Male,88,1954-03-31,NaN,Manufacturing,Affluent Customer,N,Yes,...,NSW,Australia,8,0.58,0.7250,0.906250,0.906250,16.0,16,1.5625
17,Marcelia,Monkleigh,Female,61,1993-08-22,Associate Professor,Manufacturing,Mass Customer,N,Yes,...,QLD,Australia,6,0.86,1.0750,1.075000,0.913750,17.0,17,1.54688
18,Winnifred,Beswetherick,Female,83,1976-06-08 00:00:00,Actuary,Financial Services,Mass Customer,N,No,...,VIC,Australia,10,0.90,0.9000,1.125000,0.956250,17.0,17,1.54688
19,Odilia,Quick,Female,65,1938-11-09,General Manager,Manufacturing,Affluent Customer,N,Yes,...,NSW,Australia,11,0.53,0.6625,0.828125,0.828125,19.0,19,1.53125
20,Karly,Willavize,Female,2,1954-08-12,Internal Auditor,Manufacturing,High Net Worth,N,No,...,NSW,Australia,10,0.46,0.4600,0.575000,0.575000,19.0,19,1.53125
21,Teddie,Burchill,Male,11,1968-12-21,Programmer I,Manufacturing,Mass Customer,N,Yes,...,NSW,Australia,9,0.85,1.0625,1.328125,1.128906,21.0,21,1.51562
22,Gaston,Dallaghan,Male,44,1993-09-29,Financial Analyst,Financial Services,Mass Customer,N,Yes,...,NSW,Australia,7,0.77,0.9625,0.962500,0.818125,21.0,21,1.51562
23,Otis,Ottey,Male,26,1998-02-05,Quality Engineer,NaN,Mass Customer,N,No,...,QLD,Australia,4,1.02,1.0200,1.020000,0.867000,23.0,23,1.5
24,Tabbatha,Averill,Female,5,1977-12-17 00:00:00,Quality Control Specialist,NaN,Affluent Customer,N,Yes,...,NSW,Australia,8,0.72,0.9000,0.900000,0.900000,23.0,23,1.5
25,Brena,Schnitter,Female,78,1982-10-11,Account Executive,Manufacturing,Mass Customer,N,No,...,QLD,Australia,5,0.61,0.6100,0.610000,0.518500,25.0,25,1.48438
26,Rourke,Gillbard,Male,11,1945-08-03,NaN,Property,Mass Customer,N,No,...,QLD,Australia,4,0.59,0.5900,0.590000,0.501500,26.0,26,1.46875
27,Dyane,Burwell,Female,19,1952-06-27,Engineer II,Retail,Mass Customer,N,Yes,...,NSW,Australia,2,0.89,1.1125,1.112500,0.945625,26.0,26,1.46875
28,Claudine,Barstowk,Female,71,1966-07-20,Nurse,Property,High Net Worth,N,Yes,...,QLD,Australia,11,0.67,0.8375,1.046875,1.046875,26.0,26,1.46875
29,Blinnie,Roze,Female,84,1960-12-10,Librarian,Entertainment,High Net Worth,N,No,...,QLD,Australia,7,1.08,1.0800,1.350000,1.350000,26.0,26,1.46875
30,Rhona,De Freyne,Female,45,1960-11-22,NaN,Health,High Net Worth,N,No,...,VIC,Australia,10,0.73,0.7300,0.912500,0.912500,30.0,30,1.46094
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,Mavra,Finan,Female,30,1967-08-23,Nurse,Property,Affluent Customer,N,Yes,...,NSW,Australia,9,0.87,1.0875,1.359375,1.359375,967.0,967,0.435625
972,Frieda,Tavinor,Female,43,1999-03-04,NaN,NaN,Affluent Customer,N,No,...,VIC,Australia,6,0.49,0.4900,0.490000,0.490000,972.0,972,0.43
973,Ellwood,Budden,Male,82,1998-06-03,NaN,Health,Mass Customer,N,Yes,...,NSW,Australia,10,0.99,1.2375,1.546875,1.314844,972.0,972,0.43
974,Alex,Patshull,Female,37,1966-01-02,Senior Quality Engineer,Retail,Mass Customer,N,Yes,...,QLD,Australia,5,0.71,0.8875,0.887500,0.754375,974.0,974,0.425
975,Aundrea,Outridge,Female,77,2001-01-24,Structural Engineer,Financial Services,Affluent Customer,N,Yes,...,VIC,Australia,12,0.67,0.8375,1.046875,1.046875,974.0,974,0.425
976,Amby,Bodega,Male,63,1968-06-12,Recruiter,NaN,Affluent Customer,N,Yes,...,VIC,Australia,6,0.49,0.6125,0.612500,0.612500,974.0,974,0.425
977,Esme,Pilipets,Male,15,1967-05-06,Environmental Tech,Health,Mass Customer,N,Yes,...,VIC,Australia,9,1.01,1.2625,1.578125,1.341406,977.0,977,0.42
978,Beverly,Domnick,Female,56,1938-12-10,Structural Analysis Engineer,IT,Mass Customer,N,No,...,NSW,Australia,10,0.48,0.4800,0.600000,0.510000,977.0,977,0.42
979,Artemis,Swanson,Male,77,1977-02-12,Web Designer II,Argiculture,Mass Customer,N,Yes,...,VIC,Australia,5,0.84,1.0500,1.050000,0.892500,979.0,979,0.4165
980,Daryle,Marginson,Male,93,1986-06-27,Environmental Tech,Argiculture,Mass Customer,N,Yes,...,NSW,Australia,12,0.44,0.5500,0.687500,0.584375,979.0,979,0.4165
981,Tyne,Anshell,Female,71,1992-04-08,Mechanical Systems Engineer,NaN,Mass Customer,N,Yes,...,NSW,Australia,8,0.51,0.6375,0.637500,0.541875,979.0,979,0.4165
982,Leona,Shorrock,Female,83,1951-08-23,Senior Quality Engineer,Financial Services,Affluent Customer,N,Yes,...,QLD,Australia,1,0.44,0.5500,0.687500,0.687500,979.0,979,0.4165
983,Bertrando,Carass,Male,45,1956-06-25,Sales Associate,Property,Mass Customer,N,No,...,NSW,Australia,5,0.68,0.6800,0.680000,0.578000,983.0,983,0.41
984,Augusta,Munns,Female,5,1951-09-17,Quality Control Specialist,NaN,Mass Customer,N,No,...,NSW,Australia,11,0.87,0.8700,1.087500,0.924375,983.0,983,0.41
985,Pauline,Dallosso,U,82,NaN,Desktop Support Technician,IT,Affluent Customer,N,Yes,...,NSW,Australia,10,0.68,0.8500,1.062500,1.062500,985.0,985,0.408
986,Lauralee,Fudge,Female,83,1987-09-21,Research Nurse,Health,Mass Customer,N,No,...,VIC,Australia,4,0.60,0.6000,0.750000,0.637500,985.0,985,0.408
987,Consalve,Ballay,Male,41,1959-09-18,Web Developer I,IT,Mass Customer,N,Yes,...,NSW,Australia,8,0.63,0.7875,0.787500,0.669375,987.0,987,0.4
988,Lolly,Prewer,Female,44,1997-10-23,Geologist I,Health,Mass Customer,N,No,...,NSW,Australia,7,1.07,1.0700,1.070000,0.909500,988.0,988,0.3995
989,Vyky,Pegg,Female,64,1943-03-15,Quality Control Specialist,Manufacturing,Mass Customer,N,Yes,...,NSW,Australia,7,0.77,0.9625,0.962500,0.818125,988.0,988,0.3995
990,Kellen,Pawelski,Female,83,1945-07-26,NaN,Manufacturing,High Net Worth,N,Yes,...,NSW,Australia,8,1.00,1.2500,1.562500,1.562500,988.0,988,0.3995
991,Jermaine,Bagshawe,Female,60,1954-05-14,Help Desk Operator,Property,Mass Customer,N,Yes,...,QLD,Australia,6,0.51,0.6375,0.637500,0.541875,988.0,988,0.3995
992,Bryan,Jachtym,Male,59,1974-05-15,Automation Specialist I,Manufacturing,Mass Customer,N,Yes,...,VIC,Australia,3,0.69,0.8625,0.862500,0.733125,988.0,988,0.3995
993,Renie,Laundon,Female,32,1973-12-18,Assistant Media Planner,Entertainment,Mass Customer,N,Yes,...,QLD,Australia,3,1.08,1.3500,1.350000,1.147500,993.0,993,0.391
994,Weidar,Etheridge,Male,38,1959-07-13,Compensation Analyst,Financial Services,Mass Customer,N,Yes,...,NSW,Australia,4,0.92,1.1500,1.150000,0.977500,994.0,994,0.3825
995,Datha,Fishburn,Female,15,1990-07-02,Office Assistant IV,Retail,Mass Customer,N,No,...,VIC,Australia,12,0.77,0.7700,0.962500,0.818125,994.0,994,0.3825
996,Ferdinand,Romanetti,Male,60,1959-10-07,Paralegal,Financial Services,Affluent Customer,N,No,...,NSW,Australia,7,0.79,0.7900,0.790000,0.790000,996.0,996,0.374
997,Burk,Wortley,Male,22,2001-10-17,Senior Sales Associate,Health,Mass Customer,N,No,...,NSW,Australia,10,0.76,0.7600,0.950000,0.807500,997.0,997,0.357
998,Melloney,Temby,Female,17,1954-10-05,Budget/Accounting Analyst IV,Financial Services,Affluent Customer,N,Yes,...,QLD,Australia,2,0.85,1.0625,1.062500,1.062500,997.0,997,0.357
999,Dickie,Cubbini,Male,30,1952-12-17,Financial Advisor,Financial Services,Mass Customer,N,Yes,...,QLD,Australia,2,1.09,1.3625,1.362500,1.158125,997.0,997,0.357
1000,Sylas,Duffill,Male,56,1955-10-02,Staff Accountant IV,Property,Mass Customer,N,Yes,...,NSW,Australia,9,0.47,0.5875,0.734375,0.624219,1000.0,1000,0.34

In [70]:
df=pd.DataFrame(NCL)

In [71]:
df.isnull().sum()

fname                  0
lname                 29
gender                 0
3y_bike_purchases      0
DOB                   17
JT                   106
Category             165
wealth_segement        0
D_Indicator            0
owns_car               0
tencure                0
address                0
postcode               0
state                  0
country                0
prop_val               0
Unnamed: 16            0
Unnamed: 17            0
Unnamed: 18            0
Unnamed: 19            0
Unnamed: 20            0
rank                   0
value                  0
dtype: int64

In [72]:
df['lname']=df['lname'].fillna(method='ffill')

In [73]:
df['DOB']=df['DOB'].fillna(method='ffill')

In [74]:
df['JT']=df['JT'].fillna(method='bfill')

In [75]:
df['Category']=df['Category'].fillna(method='bfill')

In [76]:
df['gender'].value_counts()
## U?

Female    513
Male      470
U          17
Name: gender, dtype: int64

In [78]:
df['Category'].value_counts()

Manufacturing         246
Financial Services    230
Health                185
Retail                 86
Property               80
IT                     63
Entertainment          49
Telecommunications     31
Argiculture            30
Name: Category, dtype: int64

In [79]:
df['wealth_segement'].value_counts()

Mass Customer        508
High Net Worth       251
Affluent Customer    241
Name: wealth_segement, dtype: int64

In [80]:
df['D_Indicator'].value_counts()

N    1000
Name: D_Indicator, dtype: int64

In [81]:
df['owns_car'].value_counts()

No     507
Yes    493
Name: owns_car, dtype: int64

In [82]:
df['state'].value_counts()

NSW    506
VIC    266
QLD    228
Name: state, dtype: int64

In [83]:
df['country'].value_counts()

Australia    1000
Name: country, dtype: int64

In [84]:
## check dattype consistency for all
l=df['fname'].map(type)
l=l.tolist()
for i in range(len(l)):
    if l[i]!=str:
        print("Not consistent")

In [38]:
df.to_csv('NewCustomerList.csv')